<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI-Powered NBA Player Acquisition</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <center>
    <h1 class="title">
      Strategic Roster Optimization<br />
      Al-Powered Player Acquisition for NBA Teams
    </h1>
    <table>
      <tr>
        <th>
          <h2 style="margin: 0px;">Player List</h2>
        </th>
        <th>
          <h2 style="margin: 0px;">Current Lineup</h2>
        </th>
      </tr>
      <tr>
        <th>
          <div id="searchBar">
            <label for="searchInput">Search: </label>
            <input type="text" id="searchInput" oninput="search()">
          </div>

          <div id="tableContainer">
            <table id="dataTable" class="dataTable"></table>
          </div>
          <br />
          <center>
            <a><button class="button" onclick="saveSelectedRows()">Save</button></a>
            <a><button class="button" onclick="clearBlob()">Clear</button></a>
          </center>
        </th>
        <th>
          <h3>Starting</h3>
          <div id="blobTableContainer">
            <table id="blobTable">
            </table>
          </div>
          <br />
          <h3>Lineup Stats</h3>
          <div id="statTableContainer">
            <h4>Current Stat Averages</h4>
            <div class="flex-container">
              <a>PTS: </a>
              <a id="avg_5" class="curr_avg_stat"></a>
              <a>REB: </a>
              <a id="avg_1" class="curr_avg_stat"></a>
              <a>AST: </a>
              <a id="avg_6" class="curr_avg_stat"></a>
              <a>STL: </a>
              <a id="avg_7" class="curr_avg_stat"></a>
              <a>BLK: </a>
              <a id="avg_8" class="curr_avg_stat"></a>
            </div>
            <br />
            <h4>Stat Averages after Recommended Players</h4>
            <div class="flex-container">
              <a>PTS: {{avg_PTS}}</a>
              <a id="rec_PTS" class="curr_avg_stat"></a>
              <a>REB: {{avg_REB}}</a>
              <a id="rec_REB" class="curr_avg_stat"></a>
              <a>AST: {{avg_AST}}</a>
              <a id="rec_AST" class="curr_avg_stat"></a>
              <a>STL: {{avg_STL}}</a>
              <a id="rec_STL" class="curr_avg_stat"></a>
              <a>BLK: {{avg_BLK}}</a>
              <a id="rec_BLK" class="curr_avg_stat"></a>
            </div>
          </div>
        </th>
      </tr>
    </table>
    <div>
      <h2>Recommended Players</h2>
      <div id="recommendedContainer">
        <table id="recommendedTable">
        </table>
      </div>
    </div>
  </center>
</body>

</html>